.input-wrap {
  display: flex;
  gap: 8px;
  width: 100%;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.value {
  font-size: 40px;
}

[type='button']:disabled {
  background: #cfcfcf;
  cursor: default;
}

.flatpickr-input[readonly]:disabled {
  cursor: default;
}
